* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
}
/* section {
  position: relative;
  width: 100%;
} */
nav {
  background-color: #1f1f1f;
  height: 5em;
  max-width: 100vw;
}
.navbar-collapse {
  background-color: #1f1f1f;
}
nav a {
  color: #efefef;
  font-weight: 600;
  transition: all 0.5s !important;
}
nav a:hover {
  color: #6e55f2;
}
.navbar-brand {
  font-weight: 700;
  font-size: 1.8rem;
  color: #fff !important;
}
.login-btn {
  border: 2px solid #efefef;
  border-radius: 8px;
  padding: 0.5rem 2em !important;
}
.login-btn:hover {
  border: 2px solid #6e55f2 !important;
  background-color: #6e55f2;
  color: #fff !important;
  border-radius: 8px;
  padding: 0.5rem 2em !important;
}
.nav-link {
  margin: 1em 1.5em;
}
.dropdown-item {
  font-weight: 600;
}
.banner {
  background-color: #1f1f1f;
  height: calc(100vh - 5em);
}
.banner-heading {
  color: #efefef;
  font-size: 4em;
  font-weight: 700;
  padding-top: 1.6em;
}
.banner-tagline {
  color: #7b7b7b;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 2em;
}
.banner-btn-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-btn {
  color: #efefef !important;
  border-radius: 8px;
  background-color: #6e55f2;
  border: 2px solid #6e55f2;
  transition: all 0.5s !important;
  padding: 1em 2em;
  font-weight: 600;
  text-decoration: none !important;
}
.banner-btn:hover {
  color: #6e55f2 !important;
  background-color: #efefef;
  border: 2px solid #6e55f2;
}
.banner-mentees-images {
  display: flex;
}
.banner-mentees-images img {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  border: 2px solid #efefef;
  margin-left: -1em;
}
.banner-mentees {
  color: #7b7b7b;
  width: 40%;
  font-weight: 600;
  margin-left: -3em;
}
.img-div-1 {
  width: 85%;
  height: 33em;
  border: 2px solid #efefef;
  border-radius: 2em;
  z-index: 1;
  position: absolute;
  right: 2em;
  top: 4em;
}
.img-div-2 {
  width: 85%;
  height: 33em;
  border: 2px solid #efefef;
  border-radius: 2em;
  z-index: 2;
  position: absolute;
  right: 3em;
  top: 5em;
}
.img-div-3 {
  width: 85%;
  height: 33em;
  border: 10px solid #efefef;
  border-radius: 2em;
  z-index: 3;
  position: absolute;
  right: 4em;
  top: 6em;
  background-color: #e66093;
  box-shadow: 0px 0px 35px 10px rgba(0, 0, 0, 0.2);
}
.clients {
  padding: 3em 0;
}
.client-img-container {
  width: 20%;
  float: left;
}
.client-img {
  filter: grayscale(100%);
  transition: all 0.5s !important;
  opacity: 0.65;
}
.client-img:hover {
  filter: grayscale(0%);
  opacity: 1;
}
.benefits {
  padding: 5em 0;
}
.benefits h2 {
  font-size: 16px;
  text-transform: uppercase;
  color: #6e55f2;
  font-weight: 700;
  margin-bottom: 1em;
}
.benefits h1 {
  font-size: 3em;
  color: #1f1f1f;
  font-weight: 700;
}
.benefits h3 {
  font-size: 1.3em;
  color: #1f1f1f;
  font-weight: 600;
  margin-bottom: 2em;
}
.benefits p {
  font-size: 1em;
  color: #7b7b7b;
  font-weight: 600;
}
.benefit-single {
  padding: 2em 0;
  border-top: 2px solid #cecece;
}
.bottom-border {
  border-bottom: 2px solid #cecece;
}
/* ///////////////// */
.courses-heading-small {
  text-transform: uppercase;
  font-weight: 700;
  color: #e66093;
  font-size: 18px;
}
.courses-heading {
  text-transform: capitalize;
  font-weight: 700;
  color: #1f1f1f;
  font-size: 2.5em;
}
.course-img-container {
  width: 100%;
  height: 20em;
  overflow: hidden;
  border-radius: 2em;
}
.work-img-container {
  width: 100%;
  height: 20em;
  overflow: hidden;
  border-radius: 2em;
}
.course-img-1 {
  width: 100%;
  height: 20em;
  background: url("./images/course1.jpg");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border-radius: 2em;
  transition: all 0.7s !important;
}
.course-img-1:hover {
  background: linear-gradient(rgba(230, 96, 147, 0.6), rgba(230, 96, 147, 0.6)),
    url("./images/course1.jpg");
  transform: scale(1.3);
}
.course-img-2 {
  width: 100%;
  height: 20em;
  background: url("./images/course2.jpg");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border-radius: 2em;
  transition: all 0.5s !important;
}
.course-img-2:hover {
  background: linear-gradient(rgba(230, 96, 147, 0.6), rgba(230, 96, 147, 0.6)),
    url("./images/course2.jpg");
  transform: scale(1.3);
}
.course-img-3 {
  width: 100%;
  height: 20em;
  background: url("./images/course3.jpg");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border-radius: 2em;
  transition: all 0.5s !important;
}
.course-img-3:hover {
  background: linear-gradient(rgba(230, 96, 147, 0.6), rgba(230, 96, 147, 0.6)),
    url("./images/course3.jpg");
  transform: scale(1.3);
}
.course-img-4 {
  width: 100%;
  height: 20em;
  background: url("./images/course4.jpg");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border-radius: 2em;
  transition: all 0.5s !important;
}
.course-img-4:hover {
  background: linear-gradient(rgba(230, 96, 147, 0.6), rgba(230, 96, 147, 0.6)),
    url("./images/course4.jpg");
  transform: scale(1.3);
}
.work-img-1 {
  width: 100%;
  height: 20em;
  background: url("./images/work1.jpg");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border-radius: 2em;
  transition: all 0.5s !important;
}
.work-img-1:hover {
  background: linear-gradient(rgba(230, 96, 147, 0.6), rgba(230, 96, 147, 0.6)),
    url("./images/work1.jpg");
  transform: scale(1.3);
}
.work-img-2 {
  width: 100%;
  height: 20em;
  background: url("./images/work2.jpg");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border-radius: 2em;
  transition: all 0.5s !important;
}
.work-img-2:hover {
  background: linear-gradient(rgba(230, 96, 147, 0.6), rgba(230, 96, 147, 0.6)),
    url("./images/work2.jpg");
  transform: scale(1.3);
}
.work-img-3 {
  width: 100%;
  height: 20em;
  background: url("./images/work3.jpg");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border-radius: 2em;
  transition: all 0.5s !important;
}
.work-img-3:hover {
  background: linear-gradient(rgba(230, 96, 147, 0.6), rgba(230, 96, 147, 0.6)),
    url("./images/work3.jpg");
  transform: scale(1.3);
}
.course-heading {
  font-size: 21px;
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.price {
  font-size: 16px;
  color: #e66093;
  font-weight: 700;
  margin-bottom: 1em;
}
.rate {
  float: right;
  font-weight: 600;
  color: #1f1f1f;
}
.videos {
  font-weight: 600;
  color: #1f1f1f;
}
.courses-btn {
  color: #6e55f2 !important;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid #6e55f2;
  transition: all 0.5s !important;
  padding: 1em 2em;
  font-weight: 600;
  text-decoration: none !important;
  cursor: pointer;
}
.courses-btn:hover {
  color: #efefef !important;
  background-color: #6e55f2;
  border: 2px solid #6e55f2;
}
.courses-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.btn-left {
  text-decoration: none !important;
  color: #1f1f1f !important;
  font-weight: 700;
  width: 80%;
  text-align: left;
  white-space: initial;
  font-size: 20px;
}
.btn-right {
  text-decoration: none !important;
  color: #1f1f1f !important;
  font-weight: 700;
  width: 20%;
  float: right;
  text-align: right;
  font-size: 20px;
}
.card {
  border: none;
  border-bottom: 1px solid #cecece;
  border-radius: 0px;
  padding-top: 2em;
  padding-bottom: 2em;
  background: transparent;
}
.card-header {
  border-bottom: none;
  background-color: transparent;
}
.card-body p {
  font-weight: 500;
  line-height: 2em;
}
.mentee-role {
  color: #7b7b7b;
  font-size: 14px;
  font-weight: 600;
}
.work-heading {
  font-size: 21px;
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 700;
}
/* //////////////// */
.faq,
.work,
.courses,
.footer {
  padding: 4em 0;
}
.footer {
  background: #1f1f1f;
}
.footer p {
  color: #7b7b7b;
  font-weight: 600;
  font-size: 15px;
  width: 100%;
  line-height: 2em;
}
.footer h2 {
  font-weight: 600;
  color: #fff;
  font-size: 20px;
}
.footer ul {
  font-size: 15px;
  color: #7b7b7b;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  list-style: none;
}
.footer ul li a {
  color: #7b7b7b;
  font-weight: 600;
  text-decoration: none;
  line-height: 3em;
  transition: all 0.5s !important;
}
.footer ul li a:hover {
  color: #fff;
}
.copyright a {
  color: #fff;
  transition: all 0.5s !important;
}
.copyright a:hover {
  color: #6e55f2;
}
.half-circle-pink {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  height: 100px;
  width: 200px;
  border-radius: 150px 150px 0 0;
  background-color: #e66093;
}

@media screen and (max-width: 810px) {
  .no-mobile {
    display: none;
  }
  .banner-heading {
    color: #efefef;
    font-size: 2em;
    font-weight: 700;
    padding-top: 1.6em;
  }
  .banner-tagline {
    color: #7b7b7b;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 2em;
  }
  .banner-btn-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .banner-btn {
    color: #efefef !important;
    border-radius: 8px;
    background-color: #6e55f2;
    border: 2px solid #6e55f2;
    transition: all 0.5s !important;
    padding: 1em 2em;
    font-weight: 600;
    text-decoration: none !important;
    margin-bottom: 1em;
  }
  .banner-btn:hover {
    color: #6e55f2 !important;
    background-color: #efefef;
    border: 2px solid #6e55f2;
  }
  .banner-mentees-images {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 1em;
    margin-top: 1em;
  }
  .banner-mentees-images img {
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    border: 2px solid #efefef;
    margin-left: -1em;
  }
  .banner-mentees {
    color: #7b7b7b;
    width: 40%;
    font-weight: 600;
    margin-left: 0em;
    font-size: 0.8em;
    margin-top: 1em;
  }
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    outline: none;
    color: #fff;
  }
  .navbar-collapse {
    background-color: #1f1f1f;
    width: 100vw;
  }
  .client-img-container {
    width: 33.33336%;
    float: left;
  }
  .left-margin {
    margin-left: 16.5%;
  }
  .benefits h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: #6e55f2;
    font-weight: 700;
    margin-bottom: 1em;
  }
  .benefits h1 {
    font-size: 2em;
    color: #1f1f1f;
    font-weight: 700;
  }
  .benefits h3 {
    font-size: 1em;
    color: #1f1f1f;
    font-weight: 600;
    margin-bottom: 2em;
  }
  .benefits p {
    font-size: 0.8em;
    color: #7b7b7b;
    font-weight: 600;
  }
  .benefit-single {
    padding: 2em 0;
    border-top: 2px solid #cecece;
  }
  .courses-heading {
    text-transform: capitalize;
    font-weight: 700;
    color: #1f1f1f;
    font-size: 2em;
  }
  .course-img-1 {
    width: 100%;
    height: 20em;
    background: url("./images/course1.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-radius: 2em;
    transition: all 0.5s !important;
  }
  .course-img-1:hover {
    background: url("./images/course1.jpg");
    transform: scale(1.3);
  }
  .course-img-2 {
    width: 100%;
    height: 20em;
    background: url("./images/course2.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-radius: 2em;
    transition: all 0.5s !important;
  }
  .course-img-2:hover {
    background: url("./images/course2.jpg");
    transform: scale(1.3);
  }
  .course-img-3 {
    width: 100%;
    height: 20em;
    background: url("./images/course3.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-radius: 2em;
    transition: all 0.5s !important;
  }
  .course-img-3:hover {
    background: url("./images/course3.jpg");
    transform: scale(1.3);
  }
  .course-img-4 {
    width: 100%;
    height: 20em;
    background: url("./images/course4.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-radius: 2em;
    transition: all 0.5s !important;
  }
  .course-img-4:hover {
    background: url("./images/course4.jpg");
    transform: scale(1.3);
  }
  .work-img-1 {
    width: 100%;
    height: 20em;
    background: url("./images/work1.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-radius: 2em;
    transition: all 0.5s !important;
  }
  .work-img-1:hover {
    background: url("./images/work1.jpg");
    transform: scale(1.3);
  }
  .work-img-2 {
    width: 100%;
    height: 20em;
    background: url("./images/work2.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-radius: 2em;
    transition: all 0.5s !important;
  }
  .work-img-2:hover {
    background: url("./images/work2.jpg");
    transform: scale(1.3);
  }
  .work-img-3 {
    width: 100%;
    height: 20em;
    background: url("./images/work3.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-radius: 2em;
    transition: all 0.5s !important;
  }
  .work-img-3:hover {
    background: url("./images/work3.jpg");
    transform: scale(1.3);
  }
  .btn-left {
    text-decoration: none !important;
    color: #1f1f1f !important;
    font-weight: 700;
    width: 80%;
    text-align: left;
    white-space: initial;
    font-size: 15px;
  }
  .btn-right {
    text-decoration: none !important;
    color: #1f1f1f !important;
    font-weight: 700;
    width: 20%;
    float: right;
    text-align: right;
    font-size: 15px;
  }
  .card {
    border: none;
    border-bottom: 1px solid #cecece;
    border-radius: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    background: transparent;
  }
  .card-body p {
    font-weight: 500;
    line-height: 1.5em;
  }
}
